In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from md04_func import *

In [81]:
document=fileRead("543906")
md04=parsingDoc(document)

['543906', '2018/04/16', 'Stock', 0, 0, 0, 0]
['543906', '2018/04/16', 'CStock', '5236280263', '000110', 0, 0]
['543906', '2018/04/30', 'ShipNt', '4601952363', '00005', 1, 0]
['543906', '2018/04/16', 'CStock', '5236281646', '000010', 0, 0]
['543906', '2018/07/17', 'ShipNt', '4601956922', '00001', 2, 0]
['543906', '2018/04/16', 'CStock', '5236282681', '000140', 0, 0]
['543906', '2018/07/18', 'ShipNt', '4601960196', '00002', 1, 0]

In [14]:
if md04['meta'][-3]=='KMAT' : 
    kmatParser(md04['data'])

'KMAT'

In [ ]:
def kmatParser(data) :
    for i in data :
        if

In [82]:
df=pd.DataFrame(md04['data'])

In [96]:
df.iloc[[2,3,4]]

        0           1       2           3       4  5  6
2  543906  2018/04/30  ShipNt  4601952363   00005  1  0
3  543906  2018/04/16  CStock  5236281646  000010  0  0
4  543906  2018/07/17  ShipNt  4601956922   00001  2  0

In [88]:
df.mask(2,'CStock')

        0           1       2           3       4  5  6
1  543906  2018/04/16  CStock  5236280263  000110  0  0
3  543906  2018/04/16  CStock  5236281646  000010  0  0
5  543906  2018/04/16  CStock  5236282681  000140  0  0

In [69]:
def mask(df, key, value):
    return df[df[key] == value]
pd.DataFrame.mask = mask

In [72]:
df = pd.DataFrame(np.random.randint(0, 10, (4,4)), index=list('abcd'), columns=list('ABCD'))
df.ix['d','A'] = df.ix['a', 'A']

C:\dev\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [80]:
df.mask('A',9).mask('D',2)

   A  B  C  D
a  9  7  7  2

In [71]:
df

   A  B  C  D
a  8  1  6  6
b  1  5  0  0
c  7  9  0  4
d  5  4  8  5

In [ ]:
df.

In [66]:
df[(df.A == 1) & (df.D == 6)]

AttributeError: 'DataFrame' object has no attribute 'A'

In [65]:
df[2]=='ShipNt' & df[2]=='Stock'

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [42]:
a=df[df[2]=='CStock'].index

In [56]:
df[a]

            1           3  5
0  2018/04/16           0  0
1  2018/04/16  5236280263  0
2  2018/04/30  4601952363  1
3  2018/04/16  5236281646  0
4  2018/07/17  4601956922  2
5  2018/04/16  5236282681  0
6  2018/07/18  4601960196  1

In [54]:
for idx, value in enumerate(a):
    print (idx)
    df.loc[i][2]
    print(df.loc[i+1])

0
0        543906
1    2018/04/16
2        CStock
3    5236282681
4        000140
5             0
6             0
Name: 5, dtype: object
0        543906
1    2018/07/18
2        ShipNt
3    4601960196
4         00002
5             1
6             0
Name: 6, dtype: object
1
0        543906
1    2018/04/16
2        CStock
3    5236282681
4        000140
5             0
6             0
Name: 5, dtype: object
0        543906
1    2018/07/18
2        ShipNt
3    4601960196
4         00002
5             1
6             0
Name: 6, dtype: object
2
0        543906
1    2018/04/16
2        CStock
3    5236282681
4        000140
5             0
6             0
Name: 5, dtype: object
0        543906
1    2018/07/18
2        ShipNt
3    4601960196
4         00002
5             1
6             0
Name: 6, dtype: object

In [ ]:
for idx, val in enumerate(ints):
    print(idx, val)

In [27]:
for idx,val in enumerate(md04['data']):
    print (idx,val)
    if (val[3]=='CStock')

0 ['543906', '2018/04/16', 'Stock', 0, 0, 0, 0]
1 ['543906', '2018/04/16', 'CStock', '5236280263', '000110', 0, 0]
2 ['543906', '2018/04/30', 'ShipNt', '4601952363', '00005', 1, 0]
3 ['543906', '2018/04/16', 'CStock', '5236281646', '000010', 0, 0]
4 ['543906', '2018/07/17', 'ShipNt', '4601956922', '00001', 2, 0]
5 ['543906', '2018/04/16', 'CStock', '5236282681', '000140', 0, 0]
6 ['543906', '2018/07/18', 'ShipNt', '4601960196', '00002', 1, 0]

In [3]:
for i in md04['data'] :
    print

[['543906', '2018/04/16', 'Stock', 0, 0, 0, 0],
 ['543906', '2018/04/16', 'CStock', '5236280263', '000110', 0, 0],
 ['543906', '2018/04/30', 'ShipNt', '4601952363', '00005', 1, 0],
 ['543906', '2018/04/16', 'CStock', '5236281646', '000010', 0, 0],
 ['543906', '2018/07/17', 'ShipNt', '4601956922', '00001', 2, 0],
 ['543906', '2018/04/16', 'CStock', '5236282681', '000140', 0, 0],
 ['543906', '2018/07/18', 'ShipNt', '4601960196', '00002', 1, 0]]

In [ ]:
df[:][3:4]

In [ ]:
a

In [ ]:
df

In [ ]:
for line in document[22:-3] :
    print(line.split("|")[4].strip().split("/"))

In [ ]:
for i in md04['data']:
    print (i)

In [ ]:
filelist=[]
f=open("MD04list.txt","r", encoding="UTF-8")
list=f.readlines()
for i in list :        
    document=fileRead(i.rstrip("\n"))
    md04=parsingDoc(document)
    PD=pd.DataFrame(md04["data"], columns=md04["header"]) 
    
    
fig = plt.figure()
ax= PD['Rec/reqd Qty'].plot(x="Date", kind="bar", title=md04['meta'][0])
ax2 = ax.twinx()
ax2.plot(ax.get_xticks(),PD['AvailQty'])

In [ ]:
md04

In [ ]:
md04=parsingDoc(fileRead("543946"))
PD=pd.DataFrame(md04["data"], columns=md04["header"])   
PD

In [ ]:
PD.plot(x="Date", kind="bar", title=md04['meta'][0])

In [ ]:
PD

In [ ]:
-int(float(md04['data'][0][-1].strip()))

In [ ]:
PD[['Date', 'Rec/reqd Qty']]

In [ ]:
float('10.000')

In [ ]:
int(float(0))

In [ ]:
d