In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from md04_func import *

In [2]:

def orderRead(filename) : 
    document=fileRead(filename)
    partnr=document[5].split("             ")[1].strip()
    orderList=[]
    for line in document[22:-3] : 
        splitLine=line.split("|")
        type=splitLine[3].strip()    

        if (type=='Order') : 
            order= (partnr,splitLine[2].strip(), splitLine[4][:10], int(float(splitLine[7].replace("-",""))), splitLine[10])
            
            
            orderList.append(order)

    return pd.DataFrame(orderList, columns=["partnr", "date", "so","qty","client"] )

## UNIT TEST

In [ ]:
filename="529853"
total=[]
filelist=[]
md04=parsingDoc(fileRead(filename))
PD=pd.DataFrame(md04["data"], columns=md04["header"])   
   
df=PD.iloc[:,0:7]        
total.append(pd.DataFrame(fehaParser(df), columns=header))
orderList=orderRead(filename)
final=pd.DataFrame()
for i in total : 
        final=final.append(i)
#To save excel file 
writer=pd.ExcelWriter(filename +"_" +str(datetime.datetime.now().date()) + '_unit_output.xlsx')
final.to_excel(writer,'Sheet1')
orderList.to_excel(writer,'Sheet2')
writer.save()

## ACTUAL RUNNING (for MD04list.txt)

In [14]:
total=[]
filelist=[]
totalOrder=[]
f=open("MD04list.txt","r", encoding="UTF-8")
list=f.readlines()
for i in list :     
    filename=fileRead(i.replace("\n",""))
    md04=parsingDoc(filename)    
    completedKmat=[x + ["","","","",""] for x in md04['data'] if ("CStock" in x and x[-1]>0 )]
    md04['data']=dataWithoutCompletedKmat=[x for x in md04['data'] if  not("CStock" in x and x[-1]>0 )]
    PD=pd.DataFrame(md04["data"], columns=md04["header"])
    orderList=orderRead(i.replace("\n",""))
    #PD.plot(x="Date", kind="bar", title=md04['meta'][0])
    df=PD.iloc[:,0:7]        
    total.append(pd.DataFrame(fehaParser(df), columns=header))
    totalOrder.append(orderList)

Reading the file as raw format 23109748
plnt number 0360
Reading the file as raw format 23109748
both empty
Reading the file as raw format 23111261
plnt number 0360
Reading the file as raw format 23111261
both empty
Reading the file as raw format 23121363
plnt number 0360
Reading the file as raw format 23121363
both empty

In [25]:
type(total)

list

## EXCEL FILE

In [26]:
final=pd.DataFrame()
orderfinal=pd.DataFrame()
for i in total : 
        final=final.append(i)

for i in totalOrder : 
        orderfinal=orderfinal.append(i)

In [27]:
orderfinal

      partnr        date          so  qty      client
0   23109748  2018/07/27  5236303578    1  36016328
1   23109748  2018/07/27  5236303579    1  36016328
2   23109748  2018/07/27  5236303591    1  36016328
3   23109748  2018/07/27  5236303594    1  36016328
4   23109748  2018/07/27  5236303595    1  36016328
5   23109748  2018/07/27  5236303597    1  36016328
6   23109748  2018/07/27  5236303599    1  36016328
7   23109748  2018/07/27  5236303600    1  36016328
8   23109748  2018/07/27  5236303621    1  36016328
9   23109748  2018/07/27  5236303622    1  36016328
10  23109748  2018/07/27  5236303623    1  36016328
11  23109748  2018/07/27  5236303627    1  36016328
12  23109748  2018/07/27  5236303629    1  36016328
13  23109748  2018/07/27  5236303641    1  36016328
14  23109748  2018/07/27  5236303644    1  36016328
15  23109748  2018/07/27  5236303645    1  36016328
16  23109748  2018/07/27  5236303647    1  36016328
17  23109748  2018/07/27  5236303649    1  36016328
18  23109748  2018/07/27  5236303650    1  36016328
19  23109748  2018/07/27  5236303653    1  36016328
20  23109748  2018/07/27  5236303655    1  36016328
21  23109748  2018/07/27  5236303658    1  36016328
22  23109748  2018/07/27  5236303659    1  36016328
0   23111261  2018/07/06  5236300888    1          \n
0   23121363  2018/07/10  5236301722    1          \n
1   23121363  2018/07/10  5236301723    1          \n
2   23121363  2018/07/10  5236301724    1          \n
3   23121363  2018/07/10  5236301725    1          \n
4   23121363  2018/07/10  5236301726    1          \n
5   23121363  2018/07/10  5236301727    1          \n
..       ...         ...         ...  ...         ...
63  23121363  2018/07/12  5236301943    1          \n
64  23121363  2018/07/12  5236301944    1          \n
65  23121363  2018/07/12  5236301948    1          \n
66  23121363  2018/07/12  5236301949    1          \n
67  23121363  2018/07/12  5236302000    1          \n
68  23121363  2018/07/12  5236302001    1          \n
69  23121363  2018/07/12  5236302002    1          \n
70  23121363  2018/07/12  5236302003    1          \n
71  23121363  2018/07/12  5236302004    1          \n
72  23121363  2018/07/12  5236302005    1          \n
73  23121363  2018/07/12  5236302006    1          \n
74  23121363  2018/07/12  5236302007    1          \n
75  23121363  2018/07/12  5236302008    1          \n
76  23121363  2018/07/12  5236302009    1          \n
77  23121363  2018/07/12  5236302040    1          \n
78  23121363  2018/07/12  5236302041    1          \n
79  23121363  2018/07/12  5236302042    1          \n
80  23121363  2018/07/12  5236302043    1          \n
81  23121363  2018/07/12  5236302044    1          \n
82  23121363  2018/07/12  5236302046    1          \n
83  23121363  2018/07/12  5236302047    1          \n
84  23121363  2018/07/12  5236302049    1          \n
85  23121363  2018/07/12  5236302080    1          \n
86  23121363  2018/07/12  5236302082    1          \n
87  23121363  2018/07/12  5236302083    1          \n
88  23121363  2018/07/12  5236302085    1          \n
89  23121363  2018/07/12  5236302086    1          \n
90  23121363  2018/07/12  5236302087    1          \n
91  23121363  2018/07/12  5236302088    1          \n
92  23121363  2018/07/12  5236302089    1          \n

[117 rows x 5 columns]

In [28]:
#To save excel file 
writer=pd.ExcelWriter(str(datetime.datetime.now().date()) + '.xlsx')
final.to_excel(writer,'Sheet1')
orderfinal.to_excel(writer, 'Sheet2')
writer.save()